:root{
  --hamburger-gap: 5px;
  --bar-width: 60px;
  --bar-height: 8px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 999999;
  cursor: pointer;
  background-color: red;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: gray;
  border-radius: 10px;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  transform: translateY(calc(var(--bar-height) + var(--hamburger-gap)));
}

.hamburger-menu input:checked {
  background-color: blue;
}